h1{
  color: #f2e394;
  font-size: 80px;
  text-align: center;
  font-weight: lighter;
  padding: 20px;
  font-family: cursive;
  margin-left: 200px;
  margin-right: 200px;
  border: 2px solid #FFD700;
  border-radius: 12px;
}


header {
  background-color: #36486b;
  padding: 5px;
}

h2{
  color: #d96459;
  font-size: 55px;
  text-align: center;
  padding: 10px;

}

h3 {
color: #f2e394;
font-size: 35px;
text-align: center;
}

p{
  color: #d96459;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin-left: 400px;
  margin-right: 400px;
  border: 2px solid #FFD700;
  border-radius: 12px;
}

#logo {
  width:20%;
  height: 20%;
}


#Hands{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 45%;
    border: 3px solid #FFD700;

}

#amigas{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 45%;
  border: 2px solid #FFD700;
}
#hum{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 45%;
    border: 3px solid #FFD700;
}
#insta{

}
